doctype html
html
    head
        title Boran DS-Player ##{title}
        script(src='/socket.io/socket.io.js')
        script(src='/js/browsercommon.js')
        script(src='/js/3rdParty/moment-with-locales.js')
        script(src='/js/3rdParty/jquery-3.5.1.min.js')
        link(rel='stylesheet' href='/css/global.css')
        link(rel='stylesheet' href='/css/animate.css')
        script(type='text/javascript').
            let dsID = !{dsID};
        block extraHeader
    body
        block content
        block extraFooter
        .serviceMenu
            .header
                .row
                    input(placeholder="Entry Service Password" name="txtPasword" type="password")
                .row
                    .dsID ID : #{dsID}
                .row
                    .serverip IP : #{serverIP}
                    .port PORT : #{serverport}
                .row
                    //.release PLAYER : #{release.player}
                    //.update UPDATE : #{release.update}
                    //.release U.Version : #{release.update_version}
            .logs

